<div class="topMarket container">
    <div class="row">
        <div class="topMarketImage col-sm-12">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
    </div>
    <div class=" topMarketFeature row">
        <div class="row">
            <div class="col-sm-12">
                <h2>&nbsp;Features</h2>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">    
            <div class="row">
                <div class="col-sm-4">
                  <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-8">
                  <p class="leftFeature">Feature description Feature description Feature description Feature description Feature description</p>                         
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            
            <div class="row">
                <div class="col-sm-4">
                  <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-8">
                  <p class="leftFeature">Feature description Feature description Feature description Feature description Feature description</p>                         
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            
            <div class="row">
                <div class="col-sm-4">
                  <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-8">
                  <p class="leftFeature">Feature description Feature description Feature description Feature description Feature description</p>                         
                </div>
            </div>
        </div>
    </div>
</div>
<!-- catagories -->
<div class="catagories container">
    <div class="row">
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
            <div class="catName">Catagory Name</div>
        </div>
        
        <div class=" col-sm-3">
            <h3>Sub Catagories</h3>
            <ul>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-3">
            <h3>Sub Catagories</h3>
            <ul>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
            </ul>
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
            <div class="catNameR">Catagory Name</div>
        </div>
        <div class=" catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
    </div>
      <div class="row">
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
            <div class="catName">Catagory Name</div>
        </div>
        
        <div class=" col-sm-3">
            <h3>Sub Catagories</h3>
            <ul>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-3">
            <h3>Sub Catagories</h3>
            <ul>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
                <li>Sub Catagory</li>
            </ul>
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
            <div class="catNameR">Catagory Name</div>
        </div>
        <div class=" catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
        <div class="catblock col-sm-3">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
    </div>
</div>