<div class="topMarket container">
    <div class="row">
        <div class="topMarketImage col-sm-12">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
    </div>
    <div class=" topMarketFeature row">
        <div class="row">
            <div class="col-sm-12">
                <h2>&nbsp;Features</h2>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="topMarketFeatures col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/ny.jpg" alt="New york" style="width:100%;">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p class="featuretext">Feature description Feature description Feature description Feature description Feature description</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-4">
                <div class="shopbutton">
                    <input class="button submitbtn" style="margin-left: 5%;" type="submit" name="submit" value="Shop Now">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="topMarketImage col-sm-12">
            <img src="assets/images/ny.jpg" alt="New york" style="width:100%;max-height: 100%;">
        </div>
    </div>
</div>